spring:
  application:
    name: seata-account
  datasource:
    url: jdbc:mysql://192.168.121.190:3306/account_db?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      config:
        import-check:
          enabled: false
server:
  port: 14000

mybatis:
  mapper-locations: classpath:mapper/*.xml